<div class="Product__Tabs">
  {%- if product.metafields.tabs['eligible-states'] -%}
    <div class="Collapsible Collapsible--large">
      <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
        Eligible states <span class="Collapsible__Plus"></span>
      </button>

      <div class="Collapsible__Inner" id="product-tab-eligible-states">
        <div class="Collapsible__Content">
          <div class="Rte">
            {{- product.metafields.tabs['eligible-states'] -}}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}

  <div class="Collapsible Collapsible--large">
    <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
      Overview <span class="Collapsible__Plus"></span>
    </button>

    <div class="Collapsible__Inner">
      <div class="Collapsible__Content">
        <div class="Rte">
          {{ product.description | replace: 'data-section-type', 'data-section-type-placeholder' }}
        </div>
      </div>
    </div>
  </div>

  {%- if product.metafields.tabs.specifications -%}
    <div class="Collapsible Collapsible--large">
      <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
        Specifications <span class="Collapsible__Plus"></span>
      </button>

      <div class="Collapsible__Inner">
        <div class="Collapsible__Content">
          <div class="Rte">
            {{- product.metafields.tabs.specifications -}}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}

  {%- if product.metafields.tabs.payment_options -%}
    <div class="Collapsible Collapsible--large">
      <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
        Payment options <span class="Collapsible__Plus"></span>
      </button>

      <div class="Collapsible__Inner">
        <div class="Collapsible__Content">
          <div class="Rte">
            {{- product.metafields.tabs.payment_options -}}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}

  {%- if product.metafields.tabs.shipping_and_returns -%}
    <div class="Collapsible Collapsible--large">
      <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
        Shipping and returns <span class="Collapsible__Plus"></span>
      </button>

      <div class="Collapsible__Inner">
        <div class="Collapsible__Content">
          <div class="Rte">
            {{- product.metafields.tabs.shipping_and_returns -}}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}

  {%- if product.metafields.tabs.warranty -%}
    <div class="Collapsible Collapsible--large">
      <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
        Warranty <span class="Collapsible__Plus"></span>
      </button>

      <div class="Collapsible__Inner">
        <div class="Collapsible__Content">
          <div class="Rte">
            {{- product.metafields.tabs.warranty -}}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}

  {%- if section.settings.reviews_enabled -%}
    <div class="Collapsible Collapsible--large">
      {%- comment -%}We parse from metafields the number of reviews. First we try to use the old way, and then the updated way{%- endcomment -%}
      {%- if product.metafields.spr.reviews contains 'itemprop="reviewCount"' -%}
        {%- assign reviews_count = product.metafields.spr.reviews | split: '<meta itemprop="reviewCount" content="' | last | split: '">' | first | times: 1 -%}
      {%- else -%}
        {%- assign reviews_count = product.metafields.spr.reviews | split: '"reviewCount": "' | last | split: '"' | first | plus: 0 -%}
      {%- endif -%}

      <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
        <span>{{ 'product.tabs.reviews' | t }} <span class="text--light">({{ reviews_count | default: 0 }})</span></span>
        <span class="Collapsible__Plus"></span>
      </button>

      <div class="Collapsible__Inner">
        <div class="Collapsible__Content">
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
      </div>
    </div>
  {%- endif -%}
</div>