{%- capture section_settings -%}
{
  "type": {{ settings.cart_type | json }},
  "itemCount": {{ cart.item_count }},
  "drawer": false,
  "hasShippingEstimator": {% if section.settings.show_shipping_estimator and cart.item_count > 0 %}true{% else %}false{% endif %}
}
{%- endcapture -%}

<section class="Section-Cart" data-section-id="{{ section.id }}" data-section-type="cart" data-section-settings='{{ section_settings }}'>
  {%- if cart.item_count == 0 -%}
    <div class="EmptyState">
      <div class="Container">
        <h1 class="EmptyState__Title Heading u-h5">{{ 'cart.general.empty' | t }}</h1>

        {%- if settings.cart_show_free_shipping_threshold -%}
          {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}
          {%- capture remaining_amount -%}<span>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}</span>{%- endcapture -%}

          <p class="Text--subdued">{{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}</p>
        {%- endif -%}

        <a href="/products/aria-free" class="EmptyState__Action Button Button--fill Button--round Button--text-normal">Shop Aria Free</a>
      </div>
    </div>
  {%- else -%}
    <div class="Container">
      <header class="PageHeader PageContent" data-aos="fade-up">
        <div class="SectionHeader SectionHeader--center">
          <h1 class="SectionHeader__Heading Heading u-h1">Your cart.</h1>
          <div class="">
            <img src="{{ 'icon-swoop.svg' | asset_url }}">
          </div>

          {%- if settings.cart_show_free_shipping_threshold -%}
            {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}

            <p class="SectionHeader__Description Text--subdued">
              {%- if cart.total_price >= threshold_in_cents -%}
                {{- 'cart.general.free_shipping' | t -}}
              {%- else -%}
                {%- capture remaining_amount -%}<span>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}</span>{%- endcapture -%}
                {{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}
              {%- endif -%}
            </p>
          {%- endif -%}

          <a href="/products/aria-free" class="btn-continue-shopping">Continue shopping</a>
        </div>
      </header>

      <div class="PageContent">
        <form action="{{ routes.cart_url }}" method="POST" class="Cart Cart--expanded" novalidate>
          <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
          <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">

          {% render 'cart-items' %}

          <footer class="Cart__Footer">
            {%- if settings.cart_enable_notes -%}
              <div class="Cart__NoteContainer">
                <span class="Cart__NoteButton">{{ 'cart.general.add_note' | t }}</span>
                <textarea class="Cart__Note Form__Textarea" name="note" id="cart-note" rows="3">{{ cart.note }}</textarea>
              </div>
            {%- endif -%}

            <div class="Cart__Recap">
              {%- capture shipping_and_taxes_notice -%}{{ 'cart.general.shipping_and_taxes_notice' | t }}{%- endcapture -%}

              {%- if cart.cart_level_discount_applications != blank -%}
                {%- for discount_application in cart.cart_level_discount_applications -%}
                  <p class="Cart__Discount Heading u-h6">{{ 'cart.general.discount' | t }} ({{ discount_application.title }}): -<span data-money-convertible>{{ discount_application.total_allocated_amount | money_without_trailing_zeros }}</span></p>
                {%- endfor -%}
              {%- endif -%}

              <p class="Cart__Total Heading u-h6">Your total <span data-money-convertible>{{ cart.total_price | money_without_trailing_zeros }}</span></p>

              {%- if shipping_and_taxes_notice != blank -%}
                <!-- <p class="Cart__Taxes Text--subdued">{{ shipping_and_taxes_notice }}</p> -->
              {%- endif -%}

              {%- if customer.tags contains 'QUALIFIED' -%}

                {%- comment -%}
                {% if customer.tags contains 'QUALIFIED' and customer.tags contains 'PLAN-RTO' %}
                  <div class="pay_via_selector-container">
                    <span>Pay via</span>
                    <label><input type="radio" name="pay_via" class="pay_via_selector" onclick="choosePayment('shopify')" {% unless customer.tags contains 'PAY-PARTIALLY' %}checked{% endunless %}> Shopify</label>
                    <label><input type="radio" name="pay_via" class="pay_via_selector" onclick="choosePayment('partially')" {% if customer.tags contains 'PAY-PARTIALLY' %}checked{% endif %}> Partial.ly</label>
                  </div>
                {% endif %}
                {%- endcomment -%}

                {%- comment -%}
                 unless customer.tags contains 'PAY-PARTIALLY'
                {%- endcomment -%}
                <div class="pay_via_shopify">
                  <button type="submit" name="checkout" class="Cart__Checkout Button Button--fill Button--round Button--text-normal">Check out</button>
                </div>
                {%- comment -%}
                 endunless
                {%- endcomment -%}

              {%- endif -%}

            </div>
          </footer>
        </form>
{%- comment -%}
{% if customer.tags contains 'QUALIFIED' and customer.tags contains 'PLAN-RTO' %} {- comment -} and customer.tags contains 'PAY-PARTIALLY' {- endcomment -}
<div class="partiallyPlansContainer pay_via_partially">
  <div class="partiallyPlanContainer">
    <div id="partiallyCartButtonContainer1"></div>
    <div id="partiallyWidget1"></div>
  </div>
  <div class="partiallyPlanContainer">
    <div id="partiallyCartButtonContainer2"></div>
    <div id="partiallyWidget2"></div>
  </div>
  <div class="partiallyPlanContainer">
    <div id="partiallyCartButtonContainer3"></div>
    <div id="partiallyWidget3"></div>
  </div>
</div>
<script type="text/javascript">
  var btn1 = new PartiallyButton({
    offer: '00f3f587-9a9b-4a2a-9eb9-c85269e8fb53',
    returnUrl: '{{shop.url}}/cart',
    returnConfirmedUrl: '{{shop.url}}/cart/clear',
    cssButton: true,
    cssButtonText: '6 Month Payment Plan',
    cssButtonShowLogo: true,
    cssButtonLogoType: 'glyph',
    cssButtonLogoPlacement: 'before',

    renderSelector: '#partiallyCartButtonContainer1',
    shopifyCart: {{cart | json}}
  });
  btn1.init();
  var widget1 = new PartiallyWidget({
    offer: '00f3f587-9a9b-4a2a-9eb9-c85269e8fb53',
    amount: {{cart.total_price}} / 100,
    targetSelector: '#partiallyWidget1',
    currency: 'USD',
  });
  widget1.init();
</script>
<script type="text/javascript">
  var btn2 = new PartiallyButton({
    offer: 'c8f8bddd-972d-4808-8171-5ad1a33e900c',
    returnUrl: '{{shop.url}}/cart',
    returnConfirmedUrl: '{{shop.url}}/cart/clear',
    cssButton: true,
    cssButtonText: '12 month payment plan',
    cssButtonShowLogo: true,
    cssButtonLogoType: 'glyph',
    cssButtonLogoPlacement: 'before',

    renderSelector: '#partiallyCartButtonContainer2',
    shopifyCart: {{cart | json}}
  });
  btn2.init();
  var widget2 = new PartiallyWidget({
    offer: 'c8f8bddd-972d-4808-8171-5ad1a33e900c',
    amount: {{cart.total_price}} / 100,
    targetSelector: '#partiallyWidget2',
    currency: 'USD',
  });
  widget2.init();
</script>
<script type="text/javascript">
  var btn3 = new PartiallyButton({
    offer: 'd08bd524-d0d3-4c1a-b99d-a262efd0e2e6',
    returnUrl: '{{shop.url}}/cart',
    returnConfirmedUrl: '{{shop.url}}/cart/clear',
    cssButton: true,
    cssButtonText: '18 month payment plan',
    cssButtonShowLogo: true,
    cssButtonLogoType: 'glyph',
    cssButtonLogoPlacement: 'before',

    renderSelector: '#partiallyCartButtonContainer3',
    shopifyCart: {{cart | json}}
  });
  btn3.init();
  var widget3 = new PartiallyWidget({
    offer: 'd08bd524-d0d3-4c1a-b99d-a262efd0e2e6',
    amount: {{cart.total_price}} / 100,
    targetSelector: '#partiallyWidget3',
    currency: 'USD',
  });
  widget3.init();
</script>
{% endif %}
{%- endcomment -%}

        {%- if section.settings.show_shipping_estimator -%}
          <div class="Section Section--spacingExtraLarge">
            <div class="Panel">
              <h2 class="Panel__Title Heading u-h2">{{ 'cart.shipping_estimator.title' | t }}</h2>

              <div class="Panel__Content">
                <div class="ShippingEstimator">
                  <div class="ShippingEstimator__Form">
                    <div class="ShippingEstimator__Country Form__Select Select Select--primary">
                      {%- render 'icon' with 'select-arrow' -%}
                      <select name="country" title="{{ 'cart.shipping_estimator.country' | t }}" data-default="{% if customer %}{{ customer.default_address.country }}{% elsif section.settings.shipping_estimator_default_country != '' %}{{ section.settings.shipping_estimator_default_country }}{% endif %}">{{ all_country_option_tags }}</select>
                    </div>

                    <div class="ShippingEstimator__Province Form__Select Select Select--primary" style="display: none">
                      {%- render 'icon' with 'select-arrow' -%}
                      <select name="province" title="{{ 'cart.shipping_estimator.province' | t }}"></select>
                    </div>

                    <input type="text" class="ShippingEstimator__Zip Form__Input" name="zip" placeholder="{{ 'cart.shipping_estimator.zip_code' | t }}">

                    <button type="button" class="ShippingEstimator__Submit Button Button--primary">{{ 'cart.shipping_estimator.estimate' | t }}</button>
                  </div>

                  <div class="ShippingEstimator__Error Alert Alert--error" style="display: none"></div>
                  <div class="ShippingEstimator__Results">
                    <div class="ShippingEstimator__ResultsInner"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Cart page",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_shipping_estimator",
      "label": "Show shipping rates calculator",
      "default": true
    },
    {
      "type": "text",
      "id": "shipping_estimator_default_country",
      "label": "Default country to use",
      "info": "If your customer is logged-in, the country in his default shipping address will be selected.",
      "default": "United States"
    }
  ]
}
{% endschema %}