<section class="Section Section--spacingNormal Section-Homepage-Hero" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="homepage-hero">
  <div class="Container Container--narrow">
    <div class="Section-Homepage-Hero--Content">
      {%- if section.settings.image != blank -%}
      <div class="hero-image" data-aos="fade-left">
        <img src="{{ section.settings.image | img_url: 'master' }}">
      </div>
      {%- endif -%}
      <div class="hero-content" data-aos="fade-up">
        <div class="hero-title">
          <span>{{ section.settings.title }}</span>
        </div>
        <div class="hero-text">
          <span>{{ section.settings.text }}</span>
        </div>
        <div class="hero-actions">
          <a href="/products/aria-free" class="Link Link--primary Button Button--fill Button--round Button--second">Shop now</a>
          <a href="#" class="Link Link--primary Button Button--outline Button--round Button--second">Learn more</a> 
        </div>
      </div>
      <div class="has-content-more">
        <i class="fal fa-angle-double-down"></i>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Homepage - Hero",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "category": "Homepage",
      "name": "Hero",
      "settings": {}
    }
  ]
}
{% endschema %}