<section class="Section Section--spacingNormal Section-Homepage-Discover" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="homepage-discover">
  <div class="Container Container--narrow">
    <div class="Section-Homepage-Discover--Content">
      <div class="discover-content-wrapper">
        <div class="discover-content-container">
          {%- if section.settings.image != blank -%}
          <div class="discover-image" data-aos="fade-right">
            <img class="Shadow--Left" src="{{ section.settings.image | img_url: 'master' }}">
            <span class="image-label">LaBeigha, Certified compression fitter</span>
          </div>
          {%- endif -%}
          <div class="discover-content" data-aos="fade-left">
            <div class="discover-title">
              <span>{{ section.settings.title }}</span>
            </div>
            <div class="discover-text">
              <span>{{ section.settings.text }}</span>
            </div>
            <div class="discover-actions">
              <a href="/pages/get-started" class="Link Link--primary Button Button--fill Button--round">Get going</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Homepage - Discover",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "category": "Homepage",
      "name": "Discover",
      "settings": {}
    }
  ]
}
{% endschema %}