<section class="Section Section--spacingNormal Section-Homepage-Product" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="homepage-product">
  <div class="Container Container--narrow">
    <div class="Section-Homepage-Product--Header" data-aos="fade-up">
      <div class="section-title">
        <span>{{ section.settings.title }}</span>
      </div>
      <img src="{{ 'icon-swoop.svg' | asset_url }}" style="display: block; margin: 0 auto;">
      <!-- <div style="margin-top: 24px;">
        <a href="/pages/support-archive" class="Link Link--primary Button Button--fill Button--round">Learn More</a>
      </div> -->
    </div>
    <div class="Section-Homepage-Product--Content">
      <div class="product-content" data-aos="fade-right">
        <div class="product-content-col product-content-col-info">
          <div class="product-label">
            <span>{{ section.settings.product_label }}</span>
          </div>
          <div class="product-title">
            <span>{{ section.settings.product_title }}</span>
          </div>
          <div class="product-description">
            <span>{{ section.settings.product_description }}</span>
          </div>
        </div>
        <div class="product-content-col product-content-col-meta">
          {% comment %}
          {%- if customer.tags contains 'QUALIFIED' -%}
          <div class="product-price">
            <div class="product-price-col">
              <div class="product-price-col-label">From</div>
              <div class="product-price-col-value">$2,500</div>
              <div class="product-price-col-meta"><s>$2,700</s> <span>$200</span></div>
            </div>
            <div class="product-price-col product-price-col-separator"><span>or</span></div>
            <div class="product-price-col">
              <div class="product-price-col-label">As low as</div>
              <div class="product-price-col-value">$208/mo</div>
              <div class="product-price-col-meta">with <span>partial.ly</span></div>
            </div>
          </div>
          {%- endif -%}
          {% endcomment %}
          <div class="product-actions">
            <a href="/pages/get-started" class="Link Link--primary Button Button--fill Button--round">Qualify now</a>
            <a href="/products/aria-free" class="Link Link--primary Button Button--outline Button--round">Preview our shop</a> 
          </div>
        </div>
      </div>
      <div class="product-image" data-aos="fade-left">
        {%- if section.settings.image != blank -%}
          <img src="{{ 'aria-free-360.gif' | asset_img_url: 'master' }}">
        {%- endif -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Homepage - Product",
  "settings": [
    {
      "type": "html",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "product_label",
      "label": "Label"
    },
    {
      "type": "text",
      "id": "product_title",
      "label": "Title"
    },
    {
      "type": "html",
      "id": "product_description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "category": "Homepage",
      "name": "Product",
      "settings": {}
    }
  ]
}
{% endschema %}