{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "wrapAround": true,
  "dragThreshold": 16,
  "cellAlign": "left",
  "autoPlay": 8000,
  "pageDots": {% if section.blocks.size > 1 %}true{% else %}false{% endif %}
}
{%- endcapture -%}

<section class="Section Section--spacingNormal Section-How-To-Features" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="how-to-features">
  <div class="Container Container--narrow">
    <div class="Section-How-To-Features--Header">
      <div class="Features--Header--Info">
        <div class="Features--Header--Info--Title" data-aos="fade-up">
          <span>Interest-free rental payment plan available.</span>
        </div>
        <div class="Features--Header--Info--Description" data-aos="fade-up">
          <span>Aria Free is available for purchase through an interest-free rent-to-own payment plan in <a href="#shopify-section-how-to-states">select states</a>.</span>
        </div>
        <div class="Features--Header--Info--Steps" data-aos="fade-up">
          <div class="Features--Header--Info--Step">
            <i class="fas fa-check"></i><span>Flexible payment plan options at 6,12 and 18 months</span>
          </div>
          <div class="Features--Header--Info--Step">
            <i class="fas fa-check"></i><span>No credit check required</span>
          </div>
          <div class="Features--Header--Info--Step">
            <i class="fas fa-check"></i><span>No interest charged on your monthly payments or hidden fees</span>
          </div>
          <div class="Features--Header--Info--Step">
            <i class="fas fa-check"></i><span>During rental period receive free service and repairs</span>
          </div>
          <div class="Features--Header--Info--Step">
            <i class="fas fa-check"></i><span>Own your Aria Free system after monthly payments are completed</span>
          </div>
        </div>
        <div class="Features--Header--Info--Actions" data-aos="fade-up">
          <a href="#shopify-section-how-to-states" class="Link Link--primary Button Button--fill Button--round">Available states</a>
        </div>
      </div>
      <div class="Features--Header--Image" data-aos="fade-left">
        <img src="{{ 'component-device.png' | asset_url }}" />
      </div>
    </div>
  </div>
  <div class="Container Container--narrow">
    <div class="Section-How-To-Features--Content">
      <div class="Feature-List Carousel" data-flickity='{{ flickity_options }}'>
        {%- for block in section.blocks -%}
          <div id="block-{{ block.id }}" class="Feature-Item" {{ block.shopify_attributes }}>
            <div class="Feature-Item__Container">
              <div class="Feature-Item--Icon">
                {%- if block.settings.image_url != blank -%}
                  <img src="{{ block.settings.image_url }}">
                {%- endif -%}
              </div>
              <div class="Feature-Item--Meta">
                <div class="Feature-Item--Title">
                  <span>{{ block.settings.title }}</span>
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "How To - Features",
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "text",
          "id": "image_url",
          "label": "Icon (url here)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "How To",
      "name": "Features",
      "settings": {}
    }
  ]
}
{% endschema %}