<section class="Section Section--spacingNormal Section-Meet-Aria-Components" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="meet-aria-components">
  <div class="Container Container--narrow">
    <div class="Section-Meet-Aria-Components--Content">
      <div class="Components--Content--Info">
        <div class="Components--Content--Info--List">
          <div class="Components--Content--Info--Item">
            <div class="Components--Content--Info--Item--Title">
              <span>Comfortable slip-on garment</span>
            </div>
            <div class="Components--Content--Info--Item--Steps">
              <div class="Components--Content--Info--Item--Step">
                <i class="fas fa-check"></i><span>Slim profile, even when inflated</span>
              </div>
              <div class="Components--Content--Info--Item--Step">
                <i class="fas fa-check"></i><span>Quick connection and disconnection</span>
              </div>
              <div class="Components--Content--Info--Item--Step">
                <i class="fas fa-check"></i><span>Pause and walk modes for ease of use</span>
              </div>
              <div class="Components--Content--Info--Item--Step">
                <i class="fas fa-check"></i><span>Compact, lightweight, and travel-friendly</span>
              </div>
              <div class="Components--Content--Info--Item--Step">
                <i class="fas fa-check"></i><span>30+ air channels across 7 control zones</span>
              </div>
              <div class="Components--Content--Info--Item--Step">
                <i class="fas fa-check"></i><span>Patent-pending technology</span>
              </div>
            </div>
          </div>
          <div class="Components--Content--Info--Item">
            <div class="Components--Content--Info--Item--Title">
              <span>Slim, portable pump</span>
            </div>
            <div class="Components--Content--Info--Item--Steps">
              <div class="Components--Content--Info--Item--Step">
                <i class="fas fa-check"></i><span>Ultra-compact—about the size of a smartphone (5.4 x 3.3 x 2.0 in.)</span>
              </div>
              <div class="Components--Content--Info--Item--Step">
                <i class="fas fa-check"></i><span>Super-lightweight (10.6 oz.)</span>
              </div>
              <div class="Components--Content--Info--Item--Step">
                <i class="fas fa-check"></i><span>Connects to your mobile device via Bluetooth®</span>
              </div>
              <div class="Components--Content--Info--Item--Step">
                <i class="fas fa-check"></i><span>Universal AC power supply for use in most countries (110V–240V)</span>
              </div>
            </div>
          </div>
          <div class="Components--Content--Info--Item" style="background-image: url({{ 'component-mobile.png' | asset_url }});">
            <div class="Components--Content--Info--Item--Title">
              <span>Mobile app</span>
            </div>
            <div class="Components--Content--Info--Item--Steps">
              <div class="Components--Content--Info--Item--Step">
                <i class="fas fa-check"></i><span>Therapy and usage monitoring</span>
              </div>
              <div class="Components--Content--Info--Item--Step">
                <i class="fas fa-check"></i><span>Resources and tips</span>
              </div>
              <div class="Components--Content--Info--Item--Step">
                <i class="fas fa-check"></i><span>Notifications and reminders</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style type="text/css">
  #section-{{ section.id }} .Components--Content--Info--List {
    background-image: url("{{ 'component-device.png' | asset_url }}");
  }
</style>