<section class="Section Section--spacingNormal Section-Our-Story-Footer" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="our-story-footer">
  <div class="Container Container--narrow">
    <div class="Section-Our-Story-Footer--Content">
      <div class="footer-content-wrapper">
        <div class="footer-content-container">
          <div class="footer-content">
            <div class="footer-title">
              <span>{{ section.settings.title }}</span>
            </div>
            <div class="footer-text">
              <span>{{ section.settings.text }}</span>
            </div>
            <div class="footer-actions">
              <a href="https://resmed.com" target="_blank" class="Link Link--primary Button Button--fill Button--round">Visit ResMed.com</a>
            </div>
          </div>
          {%- if section.settings.image != blank -%}
          <div class="footer-image">
            <img src="{{ section.settings.image | img_url: 'master' }}">
          </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Our Story - Footer",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "category": "Our Story",
      "name": "Footer",
      "settings": {}
    }
  ]
}
{% endschema %}